body{
    margin: 0;
    padding: 0;
    background-color: rgb(108, 147, 181);
    background-image: url(images/IMG_20241229_162137.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}